<a href="https://colab.research.google.com/github/elciorobcambotas/Estudo_data_sicence/blob/main/Estudo_KM_MEDIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Exercício:

Criar DataFrame e Series a partir de fontes: arquivos externos, listas, dicionário, etc.
Desenvolver uma função que recebe um dicionário com um conjunto de informações sobre veículos, e calcula a quilometragem média anual de cada veículo.

In [2]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005},
    'DS5': {'km': 17000, 'ano': 2015},
    'Fusca': {'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km': 62000, 'ano': 1999}
}

In [3]:
def km_media(dataset, ano_atual):
  result = {}
  for item in dataset.items():
    media = item[1]['km'] / (ano_atual - item[1]['ano'])
    item[1].update({ 'km_media': media })
    result.update({ item[0]: item[1]})

  return result

In [4]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

Resultado:

In [5]:
carros = pd.DataFrame(km_media(dados, 2019)).T
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0